name: Autogenerate
on:
  push:
    branches:
      - main
    paths:
      - '**/*.go'
      - '.mockery.yaml'

  # Note: When testing with nektos/act, the workflow_dispatch does not work as of version 0.2.63
  workflow_dispatch:

  pull_request:
    paths:
      - '**/*.go'
      - '.mockery.yaml'

jobs:
  mocks:
    name: Generate mocks
    runs-on: ubuntu-latest

    # Permissions are needed to push the changes back to the repository
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.0

      - name: Install Mockery
        uses: jaxxstorm/action-install-gh-release@v2.1.0
        with: # Grab a specific tag
          repo: vektra/mockery
          tag: v2.51.0

      - name: Generate mocks
        run: mockery

      - name: Push the generated code
        uses: stefanzweifel/git-auto-commit-action@v7
        if: github.event_name == 'pull_request' # Only push if this is a PR
        with:
          commit_message: "[autogen] generated mocks"

      - name: Create a PR with the generated code
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "[autogen] (re)generated mocks"
          title: "[gen] Upserted mocks"
          body: "Regenerated mocks"
          branch: "feat/gen-mocks-${{ github.sha }}"
          base: main
          labels: mocks, autogen