name: Lint
on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - '**.md'

  pull_request:
    types: [ opened, synchronize ]
    branches:
      - main
      - master
    paths-ignore:
      - '**.md'

  workflow_dispatch:


jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.0

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5
          args: --timeout 3m

  buf:
    name: Run buf
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: bufbuild/buf-action@v1
        with:
          github_token: ${{ github.token }}